@{
    ViewBag.Title = "Контакты";
    Layout = ViewBag.Layout;
}

<div>
    <div class="contactMe">
        Снимаю с любовью ♥
        <br />
   <a href="tel:+375(29)5405546">+375(29) 540-55-46 (МТС)</a>
            <h4>skype: opps1987</h4>
    </div>
    
</div>
