@{
    ViewBag.Title = "Contacts";
    Layout = ViewBag.Layout;
}

<script type="text/javascript">
    VK.Widgets.Group("vk_groups", { mode: 0, width: "500", height: "200" }, 49515535);
</script>

<div>
    Снимаю с любовью ♥
    <h4>+375-29-540-55-46 (МТС)</h4>
    <h4>skype: opps1987</h4>

    <br />
    <div id="vk_groups"></div>
    <br />
</div>
