@{
    ViewBag.Title = "Anna Protasova Photography";
    Layout = "~/Views/_Layout.cshtml";
}
<div id="title">@ViewBag.Title</div>  

<div class="home">
    <img alt="Ann" src="/Content/images/Ann.jpg" />
	<p>
        <span>З</span>дравствуйте и добро пожаловать на мой сайт! 
		<br/>
		Меня зовут <span>Анна</span>, и я очень люблю фотографировать. 
		<br/>
		<br/>
		Мне нравится видеть счастье в кадре и дарить его окружающим. 
		<br/><br/>
		Нахожу вдохновение в своей семье, в знакомствах с новыми открытыми и интересными людьми, музыке и во всем прекрасном, что меня окружает.
		<br/><br/>
		Живу в Могилеве, но всегда готова улететь хоть на край света ради красивых кадров.
		<br/><br/>
		Если Вам интересно то, что я делаю, и Вы хотели бы со мной поработать - 
		@Ajax.ActionLink("смело пишите мне)", "Contacts", "Contacts", new { }, new AjaxOptions { UpdateTargetId = "container" }, new { id = "updated-container" })
	</p>

</div>

