@{
    ViewBag.Title = "Новости";
    Layout = ViewBag.Layout;
}


<script type="text/javascript">
    var w = screen.width,
    h = screen.height;
    if (w > 650) { w = 650; }
    if (h > 800) { w = 800; }
    VK.Widgets.Group("vk_groups", { mode: 2, width: w, height: h, color1: 'e9e8e6', color2: '6d7b85', color3: '6d7b85' }, 49515535);
</script>

<div>
    <div id="vk_groups"></div>
   
</div>