@{
    ViewBag.Title = "Новости";
    Layout = ViewBag.Layout;
}


<script type="text/javascript">
    VK.Widgets.Group("vk_groups", { mode: 2, width: "650", height: "800", color1: 'e9e8e6', color2: '6d7b85', color3: '6d7b85' }, 49515535);
</script>

<div>
    <div id="vk_groups"></div>
   
</div>