@using SiteMVC.Models
@{
    ViewBag.Title = "Портфолио";
    Layout = ViewBag.Layout;
}

<div class="row">
    @foreach (AlbumItem album in ViewBag.Album)
    {
        
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a class="thumbnail albumItem" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#container" href="/Portfolio/Album?path=@album.Path" id="updated-container">
                <img class="img-responsive" src="@album.MainPhotoPath" alt="@album.Name"/>
                @album.Name
            </a>
        </div>
    }

</div>

