@{
    ViewBag.Title = "Услуги";
    Layout = ViewBag.Layout;
}

<div id="title">@ViewBag.Title</div>  

<h2>ВИДЫ ФОТОУСЛУГ:</h2>
<br />
<ul id="services">
    <li id="wedding">
        <h3><span>Свадебная фотосъемка</span></h3>
        <div>
            <img alt="wedding" src="/Content/services/services_wedding.jpg"/>
            <div>
                Пакет «Мини» 
                <ul>
                    <li>консультация </li>
                    <li>репортажная и постановочная съемка (до 3х часов) </li>
                    <li>цветокоррекция и авторская обработка всех фотографий </li>
                    <li>запись всех фото на диск в конверте ручной работы </li>
                    <li>печать 10 фото форматом 15×21 </li>
                </ul>

                Пакет «Стандарт» 
                <ul>
                    <li>консультация </li>
                    <li>репортажная и постановочная съемка (до 3х часов) </li>
                    <li>цветокоррекция и авторская обработка всех фотографий </li>
                    <li>запись всех фото на диск в конверте ручной работы </li>
                    <li>фотокнига форматом 20×20 </li>
                </ul>

                Пакет «Супер» 
                <ul>
                    <li>консультация </li>
                    <li>репортажная и постановочная съемка (до 8 часов) </li>
                    <li>цветокоррекция и авторская обработка всех фотографий </li>
                    <li>запись всех фото на usb-носитель c авторским оформлением </li>
                    <li>фотокнига форматом 30×30 </li>
                </ul>
            </div> 
        </div>
    </li>
    <li id="lovestory">
        <h3><span>Фотосъемка Love story</span></h3>
        <div>
            <div>
                Пакет «Мини» 
                <ul>
                    <li>консультация </li>
                    <li>репортажная и постановочная съемка (1-2 часа) </li>
                    <li>30 фото в авторской обработке </li>
                    <li>уменьшенные копии фотографий для публикации в интернет </li>
                    <li>запись всех фото на диск в конверте ручной работы </li>
                </ul>

                Пакет «Стандарт» 
                <ul>
                    <li>консультация </li>
                    <li>репортажная и постановочная съемка (1-2 часа) </li>
                    <li>50 фото в авторской обработке </li>
                    <li>уменьшенные копии фотографий для публикации в интернет </li>
                    <li>запись всех фото на диск в конверте ручной работы </li>
                    <li>печать 10 фото форматом 15×21 </li>
                </ul>

                Пакет «Супер» 
                <ul>
                    <li>консультация </li>
                    <li>репортажная и постановочная съемка (1-2 часа) </li>
                    <li>50 фото в авторской обработке </li>
                    <li>уменьшенные копии фотографий для публикации в интернет </li>
                    <li>запись всех фото на диск в конверте ручной работы </li>
                    <li>фотокнига форматом 20×20 </li>
                </ul>
            </div> 
            <img alt="lovestory" src="/Content/services/services_lovestory.jpg"/>
        </div>
    </li>
    <li id="individual">
        <h3><span>Индивидуальная фотосъемка</span></h3>
        <div>
            <img alt="individual" src="/Content/services/services_individual.jpg"/>
            <div>
                Пакет «Мини» 
                <ul>
                    <li>консультация </li>
                    <li>репортажная и постановочная съемка (1-2 часа) </li>
                    <li>30 фото в авторской обработке </li>
                    <li>уменьшенные копии фотографий для публикации в интернет </li>
                    <li>запись всех фото на диск в конверте ручной работы</li>
                </ul>

                Пакет «Стандарт» 
                <ul>
                    <li>консультация </li>
                    <li>репортажная и постановочная съемка (1-2 часа) </li>
                    <li>50 фото в авторской обработке </li>
                    <li>уменьшенные копии фотографий для публикации в интернет </li>
                    <li>запись всех фото на диск в конверте ручной работы </li>
                    <li>печать 10 фото форматом 15×21</li>
                </ul>

                Пакет «Супер» 
                <ul>
                    <li>консультация </li>
                    <li>репортажная и постановочная съемка (1-2 часа) </li>
                    <li>50 фото в авторской обработке </li>
                    <li>уменьшенные копии фотографий для публикации в интернет </li>
                    <li>запись всех фото на диск в конверте ручной работы </li>
                    <li>фотокнига форматом 20×20 </li>
                </ul>
            </div>
        </div> 
    </li>
    <li id="family">
        <h3><span>Фотосъемка семейная (детская)</span></h3>
        <div>
            <div>
                Пакет «Мини» 
                <ul>
                    <li>консультация </li>
                    <li>репортажная и постановочная съемка (1-2 часа) </li>
                    <li>30 фото в авторской обработке </li>
                    <li>уменьшенные копии фотографий для публикации в интернет </li>
                    <li>запись всех фото на диск в конверте ручной работы 
                </ul>

                Пакет «Стандарт» 
                <ul>
                    <li>консультация </li>
                    <li>репортажная и постановочная съемка (1-2 часа) </li>
                    <li>50 фото в авторской обработке </li>
                    <li>уменьшенные копии фотографий для публикации в интернет </li>
                    <li>запись всех фото на диск в конверте ручной работы </li>
                    <li>печать 10 фото форматом 15×21 
                </ul>

                Пакет «Супер» 
                <ul>
                    <li>консультация </li>
                    <li>репортажная и постановочная съемка (1-2 часа) </li>
                    <li>50 фото в авторской обработке </li>
                    <li>уменьшенные копии фотографий для публикации в интернет </li>
                    <li>запись всех фото на диск в конверте ручной работы </li>
                    <li>фотокнига форматом 20×20 </li>
                </ul>
            </div> 
            <img alt="family" src="/Content/services/services_family.jpg"/>
        </div>
    </li>
    <li id="maternity">
        <h3><span>Фотосъемка беременности</span></h3>
        <div>
            <img alt="maternity" src="/Content/services/services_maternity.jpg"/>
            <div>
                Пакет «Мини» 
                <ul>
                    <li>консультация </li>
                    <li>репортажная и постановочная съемка (1-2 часа) </li>
                    <li>30 фото в авторской обработке </li>
                    <li>уменьшенные копии фотографий для публикации в интернет </li>
                    <li>запись всех фото на диск в конверте ручной работы </li>
                </ul>

                Пакет «Стандарт» 
                <ul>
                    <li>консультация </li>
                    <li>репортажная и постановочная съемка (1-2 часа) </li>
                    <li>50 фото в авторской обработке </li>
                    <li>уменьшенные копии фотографий для публикации в интернет </li>
                    <li>запись всех фото на диск в конверте ручной работы </li>
                    <li>печать 10 фото форматом 15×21 </li>
                </ul>

                Пакет «Супер» 
                <ul>
                    <li>консультация </li>
                    <li>репортажная и постановочная съемка (1-2 часа) </li>
                    <li>50 фото в авторской обработке </li>
                    <li>уменьшенные копии фотографий для публикации в интернет </li>
                    <li>запись всех фото на диск в конверте ручной работы </li>
                    <li>фотокнига форматом 20×20 </li>
                </ul>
            </div>
        </div> 
    </li>
    <li id="newborn">
        <h3><span>Фотосъемка новорожденных (малыши до 14 дней)</span></h3>
        <div>
            <div>
                Пакет «Мини» 
                <ul>
                    <li>консультация</li>
                    <li>съемка с использованием реквизита и аксессуаров (время съемки не ограничено) </li>
                    <li>10 фото в авторской обработке  </li>
                    <li>уменьшенные копии фотографий для публикации в интернет  </li>
                    <li>запись всех фото на диск в конверте ручной работы  </li>
                    <li>печать 5 фото форматом 15×21  </li>
                </ul>
                Пакет «Стандарт» 
                <ul>
                    <li>консультация </li>
                    <li>съемка с использованием реквизита и аксессуаров (время съемки не ограничено) </li>
                    <li>20 фото в авторской обработке </li>
                    <li>уменьшенные копии фотографий для публикации в интернет </li>
                    <li>запись всех фото на диск в конверте ручной работы </li>
                    <li>печать 10 фото форматом 15×21  </li>
                </ul>

                Пакет «Супер» 
                <ul>
                    <li>консультация </li>
                    <li>съемка с использованием реквизита и аксессуаров (время съемки не ограничено) </li>
                    <li>30 фото в авторской обработке </li>
                    <li>уменьшенные копии фотографий для публикации в интернет </li>
                    <li>запись всех фото на диск в конверте ручной работы </li>
                    <li>фотокнига форматом 20×20 </li>
                </ul>
            </div>
            <img alt="newborn" src="/Content/services/services_newborn.jpg"/>
        </div>     
    </li>
</ul> 

<br/>
<br/>
Для получения более подробной информации, 
@Ajax.ActionLink("пишите или звоните", "Contacts", "Contacts", new { }, new AjaxOptions { UpdateTargetId = "container" }, new { id = "updated-container" }).

Пожалуйста @Ajax.ActionLink("свяжитесь со мной", "Contacts", "Contacts", new { }, new AjaxOptions { UpdateTargetId = "container" }, new { id = "updated-container" }) 
для получения более подробной информации о съемке мероприятий и детских дней рождений.