@{
    ViewBag.Title = "Услуги";
    Layout = ViewBag.Layout;
}

<h2>ВИДЫ ФОТОУСЛУГ:</h2>
<br />
<ul class ="services">
    <li>
        <img alt="cherish" src="/Content/PortfolioContent/YuriKarina/0.jpg"/>
        <div><h3><span>НЕЖНОСТЬ {семья/пара}</span></h3>Фотосъемка до 2 часов – подходит для семей (макс 6 человек) или пары.</div> 
    </li>
    <li>
        <div><h3><span>СОКРОВИЩЕ {для беременных}</span></h3>1 - 2 часовая съемка в локации – в идеале запланированная на 34-36 неделю, братья, сестры и партнеры приветствуются.</div> 
        <img alt="maternity" src="/Content/PortfolioContent/Natasha/1.jpg"/>
    </li>
    <li>
        <img alt="newborn" src="/Content/PortfolioContent/newborn.jpg"/>
        <div><h3><span>Детки {новорожденные} студийный формат</span></h3>
            Студийный формат - 1 час фотосъемки, включающий в себя поставленные студийные фотографии ребенка и семьи.
            Идеальные возраст - от 5 до 14 дней. Такие фотосъемки предпочтительнее планировать до рождения ребенка.</div> 
    </li>
    <li>
        <div><h3><span>Детки {новорожденные} – жизненный формат</span></h3>
            Жизненный формат ~ 2-часовая съемка в локации, включающие в себя жизненные/искренние фотографии ребенка и семьи. 
            Такая съемка проходит на открытом воздухе или в вашем доме. 
            Такие фотосъемки предпочтительнее планировать до рождения ребенка, однако могут быть проведены в любое время после рождения ребенка.</div> 
        <img alt="parents" src="/Content/PortfolioContent/parents.jpg"/>
    </li>
</ul> 

<br/>
Для получения более подробной информации, 
@Ajax.ActionLink("пишите или звоните", "Contacts", "Contacts", new { }, new AjaxOptions { UpdateTargetId = "container" }, new { id = "updated-container" }).

Пожалуйста @Ajax.ActionLink("свяжитесь со мной", "Contacts", "Contacts", new { }, new AjaxOptions { UpdateTargetId = "container" }, new { id = "updated-container" }) 
для получения более подробной информации о съемке мероприятий и детских дней рождений.



