@{
    ViewBag.Title = "Services";
    Layout = ViewBag.Layout;
}

<h2>ВИДЫ ФОТОУСЛУГ:</h2>
<ul>
    <li>
        <img alt="cherish" src="/Content/PortfolioContent/YuriKarina/0.jpg"/>
        cherish {family/couples}
        Up to 2 hour on location session – suitable for families (max 6 people) or couples.
    </li>
    <li>
        <img alt="maternity" src="/Content/PortfolioContent/Natasha/1.jpg"/>
        treasure {maternity}
        1 to 2 hour on location session – Ideally scheduled for 34-36 week, siblings and partners welcome.
    </li>
    <li>
        <img alt="newborn" src="/Content/PortfolioContent/newborn.jpg"/>
        adore {newborn} studio format
        Studio Format ~ A 3-4 hour session which involves posed “studio” shots of baby & family. 
        These sessions are conducted in my Home studio located in Aubin Grove. 
        These sessions are preferably scheduled in advance of baby’s birth as the ideal timeframe for these is between Day 5-10.
    </li>
    <li>
        <img alt="newborn" src="/Content/PortfolioContent/newborn_life.jpg"/>
        adore {newborn} – lifestyle format
        Lifestyle Format ~ A 2 hour on location session which involves lifestyle/candid photographs of baby & family.  These sessions are conducted on location outdoors or in your home. These sessions are preferably scheduled in advance of baby’s birth however they can be held anytime after baby’s birth.
    </li>
    <li>
        Also Available are Hello Baby in Hospital Sessions. 
        These lifestyle based sessions are held within 48 hours of baby’s birth in hospital and focus on capturing first moments and introductions.
    </li>
</ul> 


For full pricing on sessions & image collections including digital image files please  email me at lanaprattphotography@outlook.com or contact me through the contact page on the website.
Event photography packages start from 2 hours of coverage with additional hours charged at an hourly rate. Please contact me at lanaprattphotography@outlook.com for more information about event photography & children’s birthday party packages & inclusions.


