@using SiteMVC.Areas._Default.Models
@{
    ViewBag.Title = "Anna Protasova Photography";
    Layout = "~/Areas/_Default/Views/_Layout.cshtml";
}

<link rel="stylesheet" href="//frontend.reklamor.com/fancybox/jquery.fancybox.css" media="screen">
<script src="//frontend.reklamor.com/fancybox/jquery.fancybox.js"></script>

<div class="row">
    @foreach (PhotoItem photo in ViewBag.Photos)
    {
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a class="thumbnail fancybox" rel="ligthbox" href="@photo.Path">
                <img class="img-responsive" src="@photo.Path" />
            </a>
        </div>
    }

</div>

