@{
    ViewBag.Title = "Services";
}

<h2>ВИДЫ ФОТОУСЛУГ:</h2>
<ul>
    <li>Детская фотосъемка</li>
    <li>Семейное фото</li>
    <li>Love Story</li>
    <li>Свадебная съёмка</li>
    <li>Студийное фото</li>
    <li>Фотопленер - фотосъемка на воздухе</li>
</ul>
