*, *:before, *:after
{
    /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box;
    /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box;
    /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;
}

html {
    padding-top: 0px;
}

body {
    min-width: 500px;
    background-color: #e9e8e6;
    font-family: "Constantia";
    color: #525152;
    text-align: center;
    padding-top: 0;
}

header {
    display: inline-block; /* Для старых браузеров */
    height: 180px; /* Высота шапки */
    text-align: left;
    padding: 30px 0;
    margin: auto;
    color: gray;
    font-size: 28px;
    margin-bottom: 20px;
}

header a {
    display: inline-block;
    margin: 0 80px 0 0;
}

header a img {
    width: 161px;
    height: 140px;
}

footer {
    height: 100px; /* Высота низа */
    color: #6d7b85;
	padding: 10px 0px;
}


nav.menu
{
    min-width: 150px;
    margin-bottom: 0px;
    vertical-align: middle;
    margin: 5px auto;
    max-width: 100%;
}

nav.menu .menu-item
{
    margin: 0 10px;
    display: inline-block;
}

nav.menu .menu-item.separator
{
    display: inline-block;
    padding: 0px;
    margin: 0px -2px;
    color: gray;
}

.menu
{
    display: inline-block;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.menu a {
    text-decoration: none;  
        margin: 0px -2px;
  
}
.menu ul
{
    padding: 0;
    list-style: none;
    font-size: 18px;
    min-font-size: 12px;
}

a {
    color: gray;
    text-decoration: underline;
}



a:hover {
    font-style: normal;
    text-decoration: none;
    color: black  !important;
}

a:active, a:focus {
    font-style: normal;
    text-decoration: none;
}

.active > a
{
    color: black !important;
}

hr {
    color: white;
}



.home img 
{
    width: 50%;
    max-width: 600px;   
	display: inline-block;
	vertical-align: top;
}
 
.home p 
{
	display: inline-block;
    padding-top: 50px;
	padding-left: 50px;
    font-size: 18px;
    color: gray;
	width: 50%; 
	margin:auto;
	text-align:left;
	vertical-align: top;
}

.home span
{
	font-family: 'Andantino script', arial;
	font-size: 27px;
}

img 
{
    user-select: none;
    -webkit-user-select: none;                /* disable cut copy paste */
    -webkit-touch-callout: none;              /* disable callout, image save panel */
    -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
}

.row 
{
    display: inline-block;
    margin: auto;
    /*align-content: center;*/   
}

.container {
    /*min-height: 700px;*/
    width: 86%;
    padding: 0px;
    font-size: 16px;
    max-width: 1350px;
}
.contactMe a{
    text-decoration: none;    
}

.services {
    width: 100%;
    margin: auto;
    padding: 0px;
}

.services img 
{
    display: inline-block;
    margin: 0px;
    width: 39%;
}

.services div {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    width: 60%;
}

.services h3 {
    margin-bottom: 30px;
}

.services h3 span{
    width: auto;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    
}

.services > li 
{
    text-align: left;
    padding: 20px 0px;
    border-bottom: 1px dotted white;
    list-style-type: none; 
}

.services li:nth-child(even) div
{
    /*text-align: right;*/
    padding-right: 10px;
}

.services li:nth-child(even) img
{
    right: 0px;
}

.services li:nth-child(odd) div
{
    /*text-align: left;*/
    padding-left: 10px;
}

.services li:nth-child(odd) img
{
    left: 0px;
}


.contactMe {
    display: inline-block;
    vertical-align: top;
    margin: 20px 40px 0px 30px;
    width: 400px;
}

.contactMe input, .contactMe textarea {
    width: 400px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    margin-bottom: 5px;
}

.contactMe h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid white; 
}

.contactMe h4 {
    width: 80%;
    text-align: left;
    margin: 20px auto;
}

.contactMe button{
    width: 150px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.portfolioItem
{
	padding: 0px;
	margin: 0px;
}

.albumItem 
{
    font-size: 22px;
	width: 98%;
	position: relative; 
	display: inline-block; 
	color: lightblue; 
	/*width: 226px; 
	text-decoration: none;*/ 
	cursor: pointer;
	padding: 0px;
	margin: 0px;
}
.albumItem:hover 
{
	background: transparent
}

.albumItem span 
{
	display: none; 
	width: 100%;
	position: absolute; 
	/*top: 50%; */
	bottom: 0px;
}

.albumItem:hover span 
{
	display: block; 
	/*border: 3px solid #e5e5e5; */
	color: #636363;
	opacity: 0.7; 
	background: #dddddd; 
	filter: alpha(opacity=70)
}

.albumDescription {
    width: 950px;
    margin: 20px 0;
    font-size: 20px;
    text-align: left;
    text-indent: 1.5em;
    margin-top: 0;
}

.photo-horizontal {
    display: block;
    max-width: 1020px;
    margin: 20px auto;
}
.photo-vertical {
    display: block;
    max-height: 1020px;
    margin: 20px auto;
}


#up {  
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 10px;
    right: 13px;
    border-radius: 30px;
    z-index: 1001;
    background: #ffffff url("../Content/images/gotop.png") center center no-repeat;
}
#up:hover {
    cursor: pointer;
}

.pPageScroll {
    color: #ffffff;
    font: bold 12pt 'Comic Sans MS';
    text-align: center;
}


img:hover
{
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}

.thumbnail {
    border: none !important;
    background: transparent;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}
/**
 * Social Share
 */
#vk_groups {
    display: inline-block;
    margin: auto;
}
.social-box {
	text-align: center;
    display: inline-block;
	margin-right: 8px;
	vertical-align: bottom;
	letter-spacing: 0;
    padding: 10px;
}

@media only screen and (max-width: 361px) {
    .container {
        width: 96%;
    }
    
    header a {
        width: 161px;
        margin: 0px 10px 0px 0px;
    }

    nav.menu .menu-item {
        margin: 10px;
        display: block;
    }

    nav.menu .menu-item.separator {
        display: none;
        height: 0px;
    }
    
    .home img {
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }

    .home p {
        display: inline-block;
        padding-top: 20px;
        font-size: 18px;
        color: gray;
        width: 100%;
        margin: auto;
        text-align: left;
        vertical-align: top;
    }

    .home span {
        font-family: 'Andantino script', arial;
        font-size: 27px;
    }

    .photo-horizontal {
        display: block;
        max-width: 400px;
        margin: 5px auto;
    }
    .photo-vertical {
        display: block;
        max-width: 400px;
        margin: 5px auto;
    }

    .albumDescription {
        width: 360px;
    }
}