@font-face {
    font-family: 'Andantino script';
    font-style: normal;
    font-weight: 400;
    src: local('Andantino script'), local('Andantinoscript-Regular'),
        url(fonts/andantino-script.ttf) format('truetype');
}

*, *:before, *:after
{
    /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box;
    /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box;
    /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;
}

html {
    padding-top: 0px;
}

body {
    min-width: 500px;
    background-color: white;/*#f5f5f4;*/
    font-family: "Constantia";
    color: #525152;
    text-align: center;
    padding-top: 0;
}

header {
    display: inline-block; /* Для старых браузеров */
    height: 180px; /* Высота шапки */
    text-align: left;
    padding: 30px 0;
    margin: auto;
    color: gray;
    font-size: 28px;
    margin-bottom: 20px;
}

#title {
    display: none;
}

header a {
    display: inline-block;
    margin: 0 80px 0 0;
}

footer {
    height: 100px; /* Высота низа */
    color: #6d7b85;
	padding: 10px 0px;
}

#logo {
    max-width: 160px;
}
    
 /* подменю, скрыто по умолчанию */
.menu-item ul {
    width:300px;
    position:absolute;
    display:none;
    margin:0 0 0 -120px;
    padding:0;
    list-style:none;
}  

.menu-item ul li {
    position:relative;
    border-top:1px solid #fff;
    background-color: white;
    opacity: 0.9;
    z-index: 500;
}  

/* display block will make the link fill the whole area of LI */
/* отображение ссылки в меню как block, чтобы заполнить пространство в LI */
.menu-item ul a {
    display:block;
    padding: 8px 5px;
    color:#666;
}  

nav.menu
{
    position:static;
    min-width: 150px;
    margin-bottom: 0px;
    vertical-align: middle;
    margin: 5px auto;
    /*max-width: 80%;*/
}

nav.menu .menu-item
{
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
}

nav.menu .menu-item.separator
{
    display: inline-block;
    padding: 0;
    margin: 0 -2px;
    color: gray;
}

.menu
{
    display: inline-block;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.menu a {
    text-decoration: none;  
    margin: 0px -2px;
}
.menu ul
{
    padding: 0;
    list-style: none;
    font-size: 18px;
    min-font-size: 12px;
}

.slide {
    margin: 0 auto;
    width: 80%;
}

.slide .item img {
    width: 100%;
    height: auto;
}

.carousel-inner .item {
    transition-delay: 10s;
  position: relative;
  z-index: 0;
  opacity: 0;
  -moz-transition: opacity linear 0.5s;
  -o-transition: opacity linear 0.5s;
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}

.carousel-inner .item.active {
  z-index: 1;
  opacity: 1;
}

a {
    color: gray;
    text-decoration: underline;
}

a:hover {
    font-style: normal;
    text-decoration: none;
    color: black  !important;
}

a:active, a:focus {
    font-style: normal;
    text-decoration: none;
}

.active > a
{
    color: black !important;
}

hr {
    color: white;
}

.home img 
{
    width: 49%;
    max-width: 600px;   
	display: inline-block;
	vertical-align: middle;
}
 
.home p 
{
	display: inline-block;
	padding-left: 50px;
    font-size: 18px;
    color: gray;
	width: 50%; 
	margin:auto;
	text-align:left;
	vertical-align: middle;
}

.home span
{
	font-family: 'Andantino script', 'MonotypeCursiva', "Constantia";
	font-size: 27px;
}

img 
{
    user-select: none;
    -webkit-user-select: none;                /* disable cut copy paste */
    -webkit-touch-callout: none;              /* disable callout, image save panel */
    -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
}

.row 
{
    display: inline-block;
    margin: auto;
    width: 100%;
}

#container {
    width: 86%;
    padding: 30px 0 0 0;
    font-size: 16px;
    max-width: 1350px;
    margin: auto;
}
.contactMe a{
    text-decoration: none;    
}

#services {
    width: 100%;
    margin: auto;
    padding: 0;
}

#services img 
{
    display: block;
    margin: auto;
    max-height: 900px;
    max-width: 90%;
}

#services img.vertical
{
    display: inline-block;
    margin: auto;
    max-width: 70%;
    max-width: 900px;
}

#services div > ul {
    list-style-type: disc;
}

#services > li 
{
    display: block;
    padding: 20px 40px;
    list-style-type: none;
    text-align: center;
    width: auto;
}

#services > li > h3
{
    font-size: 24px;
    margin: auto;
    cursor: pointer;
    border-bottom: 1px solid white;
}

#services > li > h3:hover 
{
    color: #6d7b85;
    border-bottom: 1px solid #6d7b85;
}

#services > li > div {
    /*display: none;*/
    border-bottom: 1px dotted white;
    padding: 35px 0;
}

#services > li > div > div {
    display: block;
    width: 100%;
    margin: auto;
    font-size: 18px;
}

#services .packageHorizontal
{
    display: block;
    margin: auto;
    width: 100%;
}
#services .packageVertical
{
    display: inline-block;
    margin: auto;
    margin: 20px;
    margin-left: 3%;
    margin-right: 0;
    width: 30%;
    vertical-align: middle;
}

#services .package
{
    display: inline-block;
    margin: auto;
    margin: 20px;
    margin-left: 3%;
    margin-right: 0;
    width: 30%;
    vertical-align: top;
    text-align: left;
}

#services .packageVertical .package
{
    display: block;
    margin: auto;
    margin: 20px;
    margin-left: 3%;
    margin-right: 0;
    width: 100%;
}


#services .package > h4 {
    text-align: center;
}

#services a {
    float: right;
}


.contactMe {
    display: inline-block;
    vertical-align: top;
    margin: 20px 40px 0px 30px;
    width: 400px;
}

.contactMe input, .contactMe textarea {
    width: 400px;
    background-color: transparent;
    border: 1px solid #A9A9BB;
    padding-left: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    margin-bottom: 5px;
}

.contactMe h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid #A9A9BB; 
}

.contactMe h4 {
    width: 80%;
    text-align: left;
    margin: 20px auto;
}

.contactMe button{
    width: 150px;
    background-color: transparent;
    border: 1px solid #A9A9BB;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.portfolioItem
{
	padding: 0px;
	margin: 0px;
}

.albumItem 
{
	width: 98%;
	position: relative; 
	display: inline-block; 
	cursor: pointer;
	padding: 0px;
	margin: 0px;
    text-decoration: none;
}
.albumItem:hover 
{
	background: transparent
}

.albumItem span 
{
    font-size: 20px;
	color: darkgray;
    padding: 0 20px;
	display: block; 
	background: transparent;
    height: 50px;
    vertical-align: middle;
    text-decoration: none;
}

.albumItem:hover span 
{
	color: #525152;
}

.albumDescription {
    width: 950px;
    margin: 20px 0;
    font-size: 20px;
    text-align: left;
    text-indent: 1.5em;
    margin-top: 0;
}

.demo-gallery a {
    text-decoration: none;
}

.demo-gallery {
    width: 1020px;
    margin: auto;   
}

.photo-horizontal {
    display: block;
    max-width: 1020px;
    margin: auto;
    margin-bottom: 5px;
}
.photo-vertical {

    display: inline-block;
    max-height: 1020px;
    margin: auto;
    margin-bottom: 5px;
}

.photo-alone {
    display: block;
    max-width: 1020px;
    margin: auto;
    margin-bottom: 5px;
}

.photo-item {
    display: inline-block;
    margin-bottom: 5px;
}

.photo-one-second {
    display: inline-block;
}
.photo-second-second {
    display: inline-block;
}

#up {  
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 20px;
    z-index: 1001;
    background: #ffffff url("../Content/images/gotop.png") center center no-repeat;
    border: #dddddd 1px solid;
}
#up:hover {
    cursor: pointer;
}

.pPageScroll {
    color: #ffffff;
    font: bold 12pt 'Comic Sans MS';
    text-align: center;
}


img:hover
{
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}

.thumbnail {
    border: none !important;
    background: transparent;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}
/**
 * Social Share
 */
#vk_groups {
    display: inline-block;
    margin: auto;
}
.social-box {
	text-align: center;
    display: inline-block;
	margin-right: 8px;
	vertical-align: bottom;
	letter-spacing: 0;
    padding: 10px;
}

@media only screen and (max-width: 361px) {
    body {
        width: 99%;
    }
    #container {
        width: 96%;
    }
    
    header a {
        width: 161px;
        margin: 0 10px 0 0;
    }

    .menu-item ul {
        width: 95%;
        margin:0 0 0 -40%;
    }

    .menu-item ul li a
    {
        margin: 0;
        width: 100%;
    }
    nav.menu .menu-item {
        margin: 10px;
        display: block;
    }

    nav.menu .menu-item.separator {
        display: none;
        height: 0;
    }

    .slide {
        position: relative;
        margin: 0 auto;
        width: 98%;
    }



    .home img {
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }

    .home p {
        display: inline-block;
        padding-top: 20px;
        font-size: 18px;
        color: gray;
        width: 100%;
        margin: auto;
        text-align: left;
        vertical-align: top;
    }

    .home span {
        font-family: 'Andantino script', arial;
        font-size: 27px;
    }

    .album
    {
        width: 100%;
        margin: auto;
    }
    .photo-horizontal, .photo-alone, .photo-item, .photo-vertical {
        display: block;
        max-width: 95%;
        margin: 5px auto;
    }

    .albumDescription {
        width: 360px;
    }
    #services {
        width: 100%;
        margin: 1px;
    }
    #services > li
    {
        display: block;
        padding: 10px 0;
    }
    #services .package, #services .packageVertical, #services .packageVertical .package
    {
        display: inline-block;
        margin: auto;
        width: 95%;
        text-align: left;
    }
    #services img, #services img.vertical
    {
        display: block;
        margin: auto;
        max-width: 90%;
    }
}